.mycustomcard {

    /* min-width: 30vw; */



}


/* CARD CHILDREN */
.mycustomcard .card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mycustomcard .card-image-container {
    margin-top: auto;
    padding-top: 2rem;
}

/* TYPOGRAPHY */
.mycustomcard h5 {
    text-transform: uppercase;
    font-size: .9rem;
}

.mycustomcard h4 {
    font-family: 'Hanken Grotesk';
    font-size: 2rem;
    font-weight: 600;
}


/* INTERACTIONS */
.card-click {
    padding: 0 !important;
}

.card-click>* {
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 9;
}


/* FROM OLD HOVER EFFECT AND ALL THAT */

.mycustomcard img {
    width: fill;
    width: -webkit-fill-available;
    max-height: 400px;
    filter: grayscale(1);
    transform: scale(1);
    transition: .2s ease-in;
}

@media (max-width: 40rem) {
    .mycustomcard img {
        max-height: 200px;
    }
}

.card-content-container * {
    padding: 0 !important;
}

.card-container .mycustomcard {
    transition: .2s ease-in;
}

.card-container:hover .mycustomcard {
    transform: scale(.97);
    background-color: white !important;
}

.card-container:hover img {
    transform: scale(1.1);
    filter: grayscale(0);

}

.card-container {
    text-decoration: none;
    cursor: pointer;
}

.card-click {
    /* background: rosybrown; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.card-container {
    display: flex;

}

.card-container .mycustomcard {
    /* min-width: 250px; */
}

.cards-collection {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.cards-collection .card-container .mycustomcard,
.cards-collection .card-container {
    width: inherit
}