.banner {
    width: 100vw;
    height: 100vh;
}

@media (max-width: 900px) {
    .banner {
        height: 90vh;
    }
}

.banner button {
    position: absolute;
    right: 20px;
}

@media (min-width: 600px) {
    .banner button {
        right: 100px;
    }
}

.banner .text-container {
    display: grid;
}

.banner .text-container>* {
    grid-area: 1/1;
}

@media (max-width: 600px) {
    .banner .text-container {
        margin-top: auto;
        padding-bottom: 100px;
    }
}


.banner .text-container::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: -15%;
    right: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    pointer-events: none;
}

.tile-container {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    user-select: none;
    top: 42.5%;
}

.tile {
    width: 200px;
    height: 6rem;
    margin: 4px;
    cursor: default;
    display: inline-block;
    position: absolute;

    right: 100px;
}

.hero-1 {
    background: transparent;
}

body.exploded .hero-1 {
    background: black;
}

body {
    transition: ease-out
}

.page-container {
    visibility: hidden;
}

.page {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    /* position: fixed; */

    /* transition: 8s; */
    border-radius: 0 0 5vmin 5vmin;
}

/* @media (max-width: 900px) {
    .page {
        height: fit-content;

    }
} */


/* TRANSITIONS */
[id*="text-box-1-"] {
    transform: translate(100vw);
    opacity: 0;
}

.line {
    overflow: hidden;
    display: block;
}


/* SHINE */
.shine-container {
    position: relative;
}

:root {
    --font-size: 6rem;
}

#shine-text {
    display: inline-block;
    transition: all 0.2s;
    /* font-size: var(--font-size); */
    /* transform: translate(calc(var(--hover) * (var(--font-size) * 0.10)), calc(var(--hover) * (var(--font-size) * -0.10))); */
}


.shine-container {
    --hover: 0.4;
    --pos: 0;
}

.shine-container:hover,
.shine-container.active {
    --hover: 1;
    --pos: 1;
}


.shine-container svg {
    position: absolute;
    z-index: 3;
    width: calc(var(--font-size) * 0.5);
    aspect-ratio: 1;
}

.shine-container svg path {
    fill: hsla(49, 93%, 77%, 0.99)
}

/* Animation for sparkles */

.shine-container:hover svg,
.shine-container.active svg {
    animation: sparkle 1s calc((var(--delay-step) * var(--d)) * 1s) both;
}

@keyframes sparkle {
    50% {
        transform: translate(-50%, -50%) scale(var(--s, 1));
    }
}

.shine-container svg {
    --delay-step: 0.20;
    top: calc(var(--y, 50) * 1%);
    left: calc(var(--x, 0) * 1%);
    transform: translate(-50%, -50%) scale(0);
}

.shine-container svg:nth-of-type(1) {
    --x: 0;
    --y: 20;
    --s: 1.1;
    --d: 1;
}

.shine-container svg:nth-of-type(2) {
    --x: 15;
    --y: 80;
    --s: 1.25;
    --d: 2;
}

.shine-container svg:nth-of-type(3) {
    --x: 45;
    --y: 40;
    --s: 1.1;
    --d: 3;
}

.shine-container svg:nth-of-type(4) {
    --x: 25;
    --y: 40;
    --s: 0.9;
    --d: 2;
}

.shine-container svg:nth-of-type(5) {
    --x: 100;
    --y: 30;
    --s: 0.8;
    --d: 4;
}