.banner {
    width: 100vw;
    height: 100vh;
}

.banner button {
    position: absolute;
    right: 20px;
}

@media (min-width: 600px) {
    .banner button {
        right: 100px;
    }
}



.banner .text-container {
    display: grid;
}

.banner .text-container>* {
    grid-area: 1/1;
}

@media (max-width: 600px) {
    .banner .text-container {
        margin-top: auto;
        padding-bottom: 100px;
    }
}


.banner .text-container::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: -15%;
    right: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    background-image: red;
    /* background-image: radial-gradient(#fff 0%, rgba(255, 255, 255, 0) 50%); */
    border-radius: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    pointer-events: none;
}


/* #text-box-2 {
    transform: translateX(100vw)
} */







.tile-container {
    position: absolute;
    /* top: 275px; */
    right: 0;
    left: 0;
    text-align: center;
    user-select: none;

    top: 42.5%;
}

.tile {
    width: 200px;
    height: 6rem;
    margin: 4px;
    cursor: pointer;
    display: inline-block;
    position: absolute;

    right: 100px;
}

.hero-1 {
    background: #F4DB33;
    background: black;
    background: transparent;
}

body.exploded .hero-1  {
        background: black;

}

.page-container {
    visibility: hidden;
}

.page {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    /* position: fixed; */

    /* transition: 8s; */
    border-radius: 0 0 10vmin 10vmin;
}