.aboutme-section {
  /* background: rgb(255, 255, 255); */
  /* background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.835171568627451) 87%, rgba(255, 255, 255, 1) 100%); */
  background: black;
  color: white;
}


.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}


.headContainer {
  /* position: absolute; */
  top: 0;
  left: 0;
  background: transparent;
  z-index: 1;
}

.head {
  /* position: absolute; */
  _top: 50%;
  _left: 50%;
  font-size: clamp(1rem, 14vw, 7rem);
  color: black;
  transform: translate(0%, -50%);
}

.sign {
  position: absolute;
  top: 115px;
  width: 200px;
  height: 20px;
  background-color: wheat;
  opacity: 0;
  visibility: hidden;
}

.sticky-menu {
  width: 100%;
  background-color: rgba(255, 182, 193, 0.446);
  background-color: black;
  /* background-color:red; */
  border-radius: 0 0 5vmin 5vmin;
  z-index: 100;
}

.sticky-menu ul {
  display: flex;
  text-align: center;
  margin: auto;
  width: fit-content;
}

.sticky-menu ul li {
  color: #B83F99;
  /* color: #A14489; */
  cursor: pointer;
  opacity: .8;
  transition: .3s opacity ease-out;
}

.sticky-menu ul li:hover {
  opacity: 1;
}

.aboutme-links-section a svg {
  transition: .3s ease-out;
}

.aboutme-links-section a:hover svg {
  transform: translate(2px, -2px)
}

@media (max-width: 900px) {
  .aboutme-section .MuiTypography-paragraph {
    font-size: 1.1rem;
  }
}