/* .cards-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
} */

.projects-section {
    max-width: 100vw;
}

.project-container {
    /* background-color: aqua; */
    /* background-color: white; */
    /* background-color: #BBBBBB; */
    height: 100%;
}


.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 3rem;
}

.image-container-project {}

.image-container-project img {
    max-width: 100%;
}

.image-container img {
    max-width: 30%;
    height: fit-content;
}



/* ------------- */
/* PROJECT PAGE  */
/* ------------- */

.project-page {
    height: inherit;
    width: 100%;
    position: fixed;
    overflow-y: auto;
}

.chip-collection .MuiChip-root {
    color: white;
    border-color: white;
}

.chip-look {
    border: 1px solid black;
    border-radius: 50vh;
    width: fit-content;
    padding: .2rem 1.5rem;
}

.back-arrow {
    max-width: 100px;
    cursor: pointer;
}

.back-arrow svg circle {
    transition: fill 1s cubic-bezier(.19, 1, .22, 1) 0s;
    fill: #000;
    stroke: #000;
}

.back-arrow svg polygon,
.back-arrow svg g {
    transition: fill 1s cubic-bezier(.19, 1, .22, 1) 0s;
    fill: #fff;
}

.back-arrow:hover svg circle {
    fill: transparent;
    stroke: #000;
}

.back-arrow:hover svg polygon,
.back-arrow:hover svg g {
    fill: #000;
}


















/* ------------- */
/* ANIMATIONS    */
/* ------------- */

.project-page .project-title,
.project-page .project-subtitle {
    transform: translateY(100px);
    opacity: 0;
}

.project-page .project-text {
    opacity: 0;
}

.project-page .project-image {
    opacity: 0;
}

.project-page .chip-collection {
    opacity: 0;
}

.project-page [class*='project-details'] {
    transform: translateY(50px);
    opacity: 0;
}




body.project-open .project-page .project-subtitle {
    animation: slideUp .8s ease forwards;
}

body.project-open .project-page .project-title {
    animation: slideUp .8s ease forwards .3s;
}

body.project-open .project-page .project-text {
    animation: appear 2s ease forwards .4s;
}

body.project-open .project-page .project-image {
    animation: appear 1s ease forwards .3s;
}

body.project-open .project-page .chip-collection {
    animation: appear 3s ease forwards .2s;
}

body.project-open .project-page .project-details-1 {
    animation: slideUpMini .8s ease forwards .4s;
}

body.project-open .project-page .project-details-2 {
    animation: slideUpMini .8s ease forwards .6s;
}

body.project-open .project-page .project-details-3 {
    animation: slideUpMini .8s ease forwards .8s;
}



@keyframes slideIn {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideUpMini {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes expand {
    0% {
        transform: translateX(1400px);
    }

    100% {
        transform: translateX(0px);
    }
}




/* ------------- */
/* VIDEO         */
/* ------------- */



.video-wrapper {
    background-color: #282828;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    outline: 0;
    opacity: 0;
    z-index: 4;
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
    -webkit-transition: opacity 300ms, -webkit-transform 600ms;
    transition: opacity 300ms, -webkit-transform 600ms;
    transition: opacity 300ms, transform 600ms;
    transition: opacity 300ms, transform 600ms, -webkit-transform 600ms;
}

.video-wrapper.open {
    opacity: 1;
    z-index: 50000;
}

.video-wrapper__element {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    -o-object-fit: contain;
    object-fit: contain;
    height: 0%;
    width: 0%;
}

.video-wrapper__element.open {
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    opacity: 1;
    height: 100%;
    width: 100%;
}

/*# sourceMappingURL=video-group.css.map */
.video-controller {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-open {
    /* background-image: url(./video-button.svg); */
    background-image: none;
    position: absolute;
    width: fit-content;
    height: fit-content;
}

.video-close {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    width: 3rem;
    height: 3rem;
    font-size: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80'%3E%3Cdefs/%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='M0 0h80v80H0z'/%3E%3Cpath stroke='%23FFF' stroke-width='6' d='M22.322 22.322l35.356 35.356m-35.356 0l35.356-35.356'/%3E%3C/g%3E%3C/svg%3E");
    background-color: transparent;
}