
/* .cards-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
} */

.projects-section {
    max-width: 100vw;
}

.project-container {
    /* background-color: aqua; */
    /* background-color: white; */
    /* background-color: #BBBBBB; */
    height: 100%;
}


.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 3rem;
}


.image-container img {
    max-width: 30%;
    height: fit-content;
}



/* ------------- */
/* PROJECT PAGE  */
/* ------------- */

.project-page {
    height: inherit;
    width: 100%;
    position: fixed;
    overflow-y: auto;
}

.chip-collection .MuiChip-root {
    color: white;
    border-color: white;
}

.chip-look {
    border: 1px solid black;
    border-radius: 50vh;
    width:fit-content

}