
/* .cards-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
} */

.projects-section {
    max-width: 100vw;
}

.project-container {
    background-color: aqua;
    height: 100%;
}


.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 3rem;
}


.image-container img {
    max-width: 30%;
    height: fit-content;
}

