/* ----------------------- */
/* RESET ----------------- */
/* ----------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
}


body {
    overflow-x: hidden;
}




/* ----------------------- */
/* TYPOGRAPHY ------------ */
/* ----------------------- */

/* font-family: 'Industry', serif; */
/* font-family: 'Hanken Grotesk', sans-serif; */


main {
    display: none;
}



.font-thin {
    font-weight: 200 !important;
}