/* ----------------------- */
/* RESET ----------------- */
/* ----------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
}


body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
    padding: unset;
}




/* ----------------------- */
/* TYPOGRAPHY ------------ */
/* ----------------------- */

/* font-family: 'Industry', serif; */
/* font-family: 'Hanken Grotesk', sans-serif; */


body:not(.exploded) .core {
    display: none;
}


body {
    height:500vh;
    width: 100vw;
}


body:not(.exploded) {
    height: 100vh;
}

.font-thin {
    font-weight: 200 !important;
}


.sectionPadding {
    padding: 5rem;
}


ul,
ul li,
ul ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: 0;
}

ul {
    list-style-type: none;
}



/* ----------------------- */
/* LAYOUT ---------------- */
/* ----------------------- */

#root-layout {
    width: 200vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

body.project-open {
    overflow: hidden;
}

#root-layout {
    margin-left: 0;
    /* transition: 1s ease-in; */
    transition: .6s cubic-bezier(.19, 1, .22, 1) 0s;;
}

/* IF PROJECT-OPEN */
#root-layout.project-open  {
    margin-left: -100vw;
}
