/* ----------------------- */
/* RESET ----------------- */
/* ----------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
}


body {
    overflow-x: hidden;
}




/* ----------------------- */
/* TYPOGRAPHY ------------ */
/* ----------------------- */

/* font-family: 'Industry', serif; */
/* font-family: 'Hanken Grotesk', sans-serif; */


body:not(.exploded) .core {
    display: none;
}

body {
    height:500vh;
}

.font-thin {
    font-weight: 200 !important;
}


.sectionPadding {
    padding: 5rem;
}


ul,
ul li,
ul ul li {
   margin:0;
   padding: 0;
   text-indent: 0;
   list-style-type: 0;
}

ul {
    list-style-type: none;
}



/* ----------------------- */
/* LAYOUT ---------------- */
/* ----------------------- */

#root-layout {
    width: 200vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



/* ----------------------- */
/* LAYOUT ---------------- */
/* ----------------------- */

body.project-open {
    overflow: hidden;
}

#root-layout.project-open {
    /* background-color: magenta !important; */
}


#root-layout {
    margin-left: 0;
    transition: .5s ease-in;
}
/* 
#root-layout .project-container {
    margin-left: 100vw;
    transition: .5s ease-in;
} */

/* IF PROJECT-OPEN */
#root-layout.project-open  {
    margin-left: -100vw;
}
