.mycustombutton {
    /* display: none !important; */
    
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;

    width: 14rem;
    /* size of the button, should be adjusted when text is more */
    height: auto;
}

.mycustombutton .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 5rem;
    height: 5rem;
    /* background: #000000; */
    background: #000000;
    /* border-radius: 1.625rem; */
    border-radius: 50vmin;
    margin-left: auto;

    width: 6rem;
    height: 6rem;
}

.mycustombutton .circle .icon {
    /* transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1); */
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.mycustombutton .circle .icon.arrow {
    /* transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1); */
    right: 2.1rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;

    right: 2.7rem;
}

.mycustombutton .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);

    width: .9rem;
    height: .9rem;
    top: -0.4rem;
}

.mycustombutton .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 0 0 1.85rem;
    color: #000000;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    margin-left: 1.65rem;
    text-align: left;
    padding: 1.65rem 0;

    opacity: 0;
    display: flex;
    align-items: center;
}

.mycustombutton:not(.growing):hover .circle,
.mycustombutton:not(.full-screen):hover .circle
{
    width: 100%;
}

.mycustombutton:hover .button-text {
    color: #fff;
    opacity: 1;
}





/* -------------------------- */
/* EXPLODE */
/* -------------------------- */

.mycustombutton.growing,
.mycustombutton.full-screen
 {
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    
}

.mycustombutton.fsm {
    position:absolute;
}

.mycustombutton.growing .button-text,
.mycustombutton.growing .circle .icon.arrow {
    display: none;
}

.mycustombutton.growing .circle,
.mycustombutton.full-screen .circle {
    width: 100%;
    height: 100%;
}

body.exploded .mycustombutton {
    pointer-events: none;
}

body.exploded .mycustombutton .circle,
body.exploded .mycustombutton .button-text
 {
    display: none;
    pointer-events: none;

}